#repo specific ignores
highscorelist.txt

# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings
.metadata

# IntelliJ IDEA files
.idea
*.iws
*.ipr
*.iml

# Test output files
*/test-output/*
/test-output/
/test-output
test-output/
test-output/**/*
*/test-output/**/*

# Packages
*.jar

# Maven build files
target
reports
application.properties
avs-rest-service/application.properties


# PMD
.pmd

# Merge files
*.orig

#tmp irectories
tmp/
test-output/

# Windows binaries
*.exe
*.dll
